In [34]:
#Importing necessary libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn import datasets
from google.colab import drive

import numpy as np
import scipy as sp
import seaborn as sns
import sklearn.cluster
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from matplotlib import pyplot as plt
from sklearn import tree
import graphviz
from sklearn.tree import DecisionTreeClassifier, export_graphviz

from sklearn.metrics import classification_report

from sklearn.metrics import roc_auc_score, roc_curve
from sklearn.model_selection import KFold, StratifiedKFold
import time
import lightgbm as lgb

import warnings
warnings.filterwarnings('ignore')

# Mount drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [35]:
train_data = pd.read_csv('/content/drive/MyDrive/DataMining/santander-customer-transaction-prediction/train.csv')
train_data.head()

,ID_code,target,var_0,var_1,var_2,var_3,var_4,var_5,var_6,var_7,...,var_190,var_191,var_192,var_193,var_194,var_195,var_196,var_197,var_198,var_199
0,train_0,0,8.9255,-6.7863,11.9081,5.0930,11.4607,-9.2834,5.1187,18.6266,...,4.4354,3.9642,3.1364,1.6910,18.5227,-2.3978,7.8784,8.5635,12.7803,-1.0914
1,train_1,0,11.5006,-4.1473,13.8588,5.3890,12.3622,7.0433,5.6208,16.5338,...,7.6421,7.7214,2.5837,10.9516,15.4305,2.0339,8.1267,8.7889,18.3560,1.9518
2,train_2,0,8.6093,-2.7457,12.0805,7.8928,10.5825,-9.0837,6.9427,14.6155,...,2.9057,9.7905,1.6704,1.6858,21.6042,3.1417,-6.5213,8.2675,14.7222,0.3965
3,train_3,0,11.0604,-2.1518,8.9522,7.1957,12.5846,-1.8361,5.8428,14.9250,...,4.4666,4.7433,0.7178,1.4214,23.0347,-1.2706,-2.9275,10.2922,17.9697,-8.9996
4,train_4,0,9.8369,-1.4834,12.8746,6.6375,12.2772,2.4486,5.9405,19.2514,...,-1.4905,9.5214,-0.1508,9.1942,13.2876,-1.5121,3.9267,9.5031,17.9974,-8.8104

In [36]:
test_data = pd.read_csv('/content/drive/MyDrive/DataMining/santander-customer-transaction-prediction/test.csv')
test_data.head()

,ID_code,var_0,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,...,var_190,var_191,var_192,var_193,var_194,var_195,var_196,var_197,var_198,var_199
0,test_0,11.0656,7.7798,12.9536,9.4292,11.4327,-2.3805,5.8493,18.2675,2.1337,...,-2.1556,11.8495,-1.4300,2.4508,13.7112,2.4669,4.3654,10.7200,15.4722,-8.7197
1,test_1,8.5304,1.2543,11.3047,5.1858,9.1974,-4.0117,6.0196,18.6316,-4.4131,...,10.6165,8.8349,0.9403,10.1282,15.5765,0.4773,-1.4852,9.8714,19.1293,-20.9760
2,test_2,5.4827,-10.3581,10.1407,7.0479,10.2628,9.8052,4.8950,20.2537,1.5233,...,-0.7484,10.9935,1.9803,2.1800,12.9813,2.1281,-7.1086,7.0618,19.8956,-23.1794
3,test_3,8.5374,-1.3222,12.0220,6.5749,8.8458,3.1744,4.9397,20.5660,3.3755,...,9.5702,9.0766,1.6580,3.5813,15.1874,3.1656,3.9567,9.2295,13.0168,-4.2108
4,test_4,11.7058,-0.1327,14.1295,7.7506,9.1035,-8.5848,6.8595,10.6048,2.9890,...,4.2259,9.1723,1.2835,3.3778,19.5542,-0.2860,-5.1612,7.2882,13.9260,-9.1846

In [37]:
features = [c for c in train_data.columns if c not in ['ID_code', 'target']]
target = train_data['target']

In [38]:
train_data.shape

(200000, 202)

In [39]:
train_data.describe()

,target,var_0,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,...,var_190,var_191,var_192,var_193,var_194,var_195,var_196,var_197,var_198,var_199
count,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,...,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000
mean,0.100490,10.679914,-1.627622,10.715192,6.796529,11.078333,-5.065317,5.408949,16.545850,0.284162,...,3.234440,7.438408,1.927839,3.331774,17.993784,-0.142088,2.303335,8.908158,15.870720,-3.326537
std,0.300653,3.040051,4.050044,2.640894,2.043319,1.623150,7.863267,0.866607,3.418076,3.332634,...,4.559922,3.023272,1.478423,3.992030,3.135162,1.429372,5.454369,0.921625,3.010945,10.438015
min,0.000000,0.408400,-15.043400,2.117100,-0.040200,5.074800,-32.562600,2.347300,5.349700,-10.505500,...,-14.093300,-2.691700,-3.814500,-11.783400,8.694400,-5.261000,-14.209600,5.960600,6.299300,-38.852800
25%,0.000000,8.453850,-4.740025,8.722475,5.254075,9.883175,-11.200350,4.767700,13.943800,-2.317800,...,-0.058825,5.157400,0.889775,0.584600,15.629800,-1.170700,-1.946925,8.252800,13.829700,-11.208475
50%,0.000000,10.524750,-1.608050,10.580000,6.825000,11.108250,-4.833150,5.385100,16.456800,0.393700,...,3.203600,7.347750,1.901300,3.396350,17.957950,-0.172700,2.408900,8.888200,15.934050,-2.819550
75%,0.000000,12.758200,1.358625,12.516700,8.324100,12.261125,0.924800,6.003000,19.102900,2.937900,...,6.406200,9.512525,2.949500,6.205800,20.396525,0.829600,6.556725,9.593300,18.064725,4.836800
max,1.000000,20.315000,10.376800,19.353000,13.188300,16.671400,17.251600,8.447700,27.691800,10.151300,...,18.440900,16.716500,8.402400,18.281800,27.928800,4.272900,18.321500,12.000400,26.079100,28.500700

In [40]:
train_data.isnull().values.any()

False

In [41]:
test_data.isnull().values.any()

False

In [42]:
#Following some reading and exploration, these seem to be the best combination of parameters put forth to achieve a higher accuracy for LGBM. 
param = {
        'num_leaves': 10,
        'max_bin': 119,
        'min_data_in_leaf': 11,
        'learning_rate': 0.02,
        'min_sum_hessian_in_leaf': 0.00245,
        'bagging_fraction': 1.0, 
        'bagging_freq': 5, 
        'feature_fraction': 0.05,
        'lambda_l1': 4.972,
        'lambda_l2': 2.276,
        'min_gain_to_split': 0.65,
        'max_depth': 14,
        'save_binary': True,
        'seed': 1337,
        'feature_fraction_seed': 1337,
        'bagging_seed': 1337,
        'drop_seed': 1337,
        'data_random_seed': 1337,
        'objective': 'binary',
        'boosting_type': 'gbdt',
        'verbose': 1,
        'metric': 'auc',
        'is_unbalance': True,
        'boost_from_average': False,
    }

In [43]:
nfold = 5

In [44]:
skf = StratifiedKFold(n_splits=5, shuffle=True, random_state=2019)
oof = np.zeros(len(train_data))
predictions = np.zeros(len(test_data))
feature_importance_df = pd.DataFrame()

start = time.time()

for fold_, (trn_idx, val_idx) in enumerate(skf.split(train_data.values, target.values)):
    print("Fold n°{}".format(fold_))
    xg_train = lgb.Dataset(train_data.iloc[trn_idx][features], label=target.iloc[trn_idx])
    xg_val = lgb.Dataset(train_data.iloc[val_idx][features], label=target.iloc[val_idx])

    num_round = 10000
    clf = lgb.train(param, xg_train, num_round, valid_sets = [xg_train, xg_val], verbose_eval=1000, early_stopping_rounds = 100)
    oof[val_idx] = clf.predict(train_data.iloc[val_idx][features], num_iteration=clf.best_iteration)

    #print(classification_report(test_data[features], clf.predict(xg_val)))
    
    fold_importance_df = pd.DataFrame()
    fold_importance_df["feature"] = features
    fold_importance_df["importance"] = clf.feature_importance()
    fold_importance_df["fold"] = fold_ + 1
    feature_importance_df = pd.concat([feature_importance_df, fold_importance_df], axis=0)
    
    predictions += clf.predict(test_data[features], num_iteration=clf.best_iteration) / 5

print("CV score: {:<8.5f}".format(roc_auc_score(target, oof)))

Fold n°0
Training until validation scores don't improve for 100 rounds.
[1000]	training's auc: 0.904352	valid_1's auc: 0.881776
[2000]	training's auc: 0.92049	valid_1's auc: 0.89047
[3000]	training's auc: 0.93078	valid_1's auc: 0.8947
[4000]	training's auc: 0.93824	valid_1's auc: 0.896195
Early stopping, best iteration is:
[4781]	training's auc: 0.943444	valid_1's auc: 0.896749
Fold n°1
Training until validation scores don't improve for 100 rounds.
[1000]	training's auc: 0.904264	valid_1's auc: 0.88327
[2000]	training's auc: 0.920038	valid_1's auc: 0.892616
[3000]	training's auc: 0.930389	valid_1's auc: 0.896857
[4000]	training's auc: 0.93788	valid_1's auc: 0.898371
Early stopping, best iteration is:
[4449]	training's auc: 0.940926	valid_1's auc: 0.898687
Fold n°2
Training until validation scores don't improve for 100 rounds.
[1000]	training's auc: 0.903626	valid_1's auc: 0.887282
[2000]	training's auc: 0.919902	valid_1's auc: 0.895797
[3000]	training's auc: 0.930136	valid_1's auc: 0.899609
[4000]	training's auc: 0.937729	valid_1's auc: 0.901177
Early stopping, best iteration is:
[4655]	training's auc: 0.942154	valid_1's auc: 0.901538
Fold n°3
Training until validation scores don't improve for 100 rounds.
[1000]	training's auc: 0.904483	valid_1's auc: 0.882198
[2000]	training's auc: 0.920306	valid_1's auc: 0.891354
[3000]	training's auc: 0.930554	valid_1's auc: 0.895592
[4000]	training's auc: 0.938046	valid_1's auc: 0.896959
[5000]	training's auc: 0.944665	valid_1's auc: 0.897535
Early stopping, best iteration is:
[4943]	training's auc: 0.944277	valid_1's auc: 0.897557
Fold n°4
Training until validation scores don't improve for 100 rounds.
[1000]	training's auc: 0.904459	valid_1's auc: 0.884081
[2000]	training's auc: 0.920558	valid_1's auc: 0.892234
[3000]	training's auc: 0.930755	valid_1's auc: 0.895558
[4000]	training's auc: 0.938207	valid_1's auc: 0.89687
Early stopping, best iteration is:
[4561]	training's auc: 0.941902	valid_1's auc: 0.89722
CV score: 0.89834

In [45]:
predictions

array([0.39764997, 0.62552314, 0.64268784, ..., 0.03178517, 0.44875824,
       0.35424814])